@media screen and (min-width: 1200px){
  .container {
    max-width: 1520px;
  }
}

@media screen and (max-width: 768px){
  header {
    margin-bottom: none;
  }
  .hamburger {
    display: block;
    right: 20px;
  }
  .navbar {
    padding: 0px 20px;
  }
  ul {
    display: none;
  }
  .container {
    min-width: 0px;
  }
  .in {
    font-size: 2rem;
  }
  .skill-img {
    width: 2.3rem;
    height: 2.3rem;
  }
  .css {
    top: 35%;
  }
  .graphql {
    top: 40%;
    left: 8%;
  }
  .html {
    top: 65%;
  }
  .passport {
    display: none;
  }
  .react {
    top: 73%;
    left: 25%;
  }
  .mongodb {
    top: 80%;
    right: 5%;
  }
  .javascript {
    top: 88%;
  }
  .redux {
    top: 12%;
  }
  #about p {
    font-size: 1rem;
  }
  .card {
    margin: 30px 0px;
    width: 95%;
    height: 210px;
  }

  .card:hover {
    transform: none;
  }
  .title {
    font-size: 2rem;
  }
  .contact-link__container {
    width: 90%;
    min-height: 180px;
    margin-top: 20px;
  }
  .email span {
    font-size: 0.7rem;
    font-weight: 600;
  }
  .github span {
    font-size: 0.7rem;
    font-weight: 600;
  }
  .email svg {
    margin-right: 20px;
    width: 32px;
    height: 32px;
  }
  .github svg {
    margin-right: 20px;
    width: 32px;
    height: 32px;
  }
  .email {
    width: 80%;
  }
  .github {
    width: 80%;
  }
}