* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}


header {
  height: 60px;
  border-bottom: 1px solid black;
  position: sticky;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 9;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.hamburger {
  position: absolute;
  display: none;
}

.mobile-nav {
  background-color: black;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 0;
}

.times {
  position: absolute;
  right: 20px;
  top: 20px;
  fill: white;
}

.no-show {
  display: none;
}

ul {
  justify-content: space-around;
  align-items: center;
  display: flex;
  max-width: 550px;
  width: 65%;
  height: 100%;
}

li {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

li:hover {
  border-bottom: 2px solid black;
}

.list {
  color: white;
  font-size: 2rem;
  margin: 25px 0px;
  font-weight: 600;
}

.list a:hover {
  color: aqua;
}